nav { list-style-type: none;
      background-color:gray;
      width: 100%; 
      position: fixed;
      top: 0;
      left: 0;
}

li {
  display: inline; 
  padding: 23px;
  float: right;
}
li:hover {
   background-color: red; 
}
a {
  text-decoration: none;
  color: white;
  font-family: caramond;
  font-style: oblique;
  font-weight: bold;
}

<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
      }
    </style>
  </head>
  <body>
    <a class="button" href="https://www.w3docs.com/learn-html/html-button-tag.html">HTML button tag</a>
  </body>
</html>
